on:
  workflow_call:
    inputs:
      testPath:
        required: true
        type: string
      outputDirectory:
        required: true
        type: string

jobs:
  reusable_unit_test_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          build-root-directory: service
      - name: Run unit tests
        working-directory: ./service
        env:
          TEST_PATH: ${{inputs.testPath}}
        run: |
          ./gradlew test --tests "$TEST_PATH"
      - name: Upload Test Results Files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ inputs.outputDirectory }}
          path: |
            service/build/spock-reports/*.json
            service/build/spock-reports/*.html
            service/build/test-results/**/*.xml
            tools/testing/*.log
          retention-days: 1