name: Unit test module

on:
  push:

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          build-root-directory: service
      - name: Run unit tests
        working-directory: ./service
        run: |
          ./gradlew test
      - name: Upload Test Results Files
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: unit-test-results
          path: |
            service/build/test-results/**/*.xml
          retention-days: 1
